In [2]:
# Import modules for data ingestion and manipulation

import pandas as pd
import numpy as np

In [3]:
# Pull in the Q2 2021 data as well as the entirety of 2020 data
# Unfortunately, Q1 2021 cannot be obtained at current time from any source

df_2020 = pd.read_excel("PERM_Disclosure_Data_FY2020.xlsx")
df_2021_q2 = pd.read_excel("PERM_Disclosure_Data_FY2021_Q2.xlsx")

In [4]:
# Obtain basic statistics and a sample for each dataframe

df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94019 entries, 0 to 94018
Columns: 154 entries, CASE_NUMBER to EMP_INFO_DECL_TITLE
dtypes: datetime64[ns](19), float64(11), object(124)
memory usage: 110.5+ MB

In [5]:
df_2021_q2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35977 entries, 0 to 35976
Columns: 154 entries, CASE_NUMBER to EMP_INFO_DECL_TITLE
dtypes: datetime64[ns](30), float64(12), object(112)
memory usage: 42.3+ MB

In [6]:
df_2020.head()

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,REFILE,ORIG_FILE_DATE,PREVIOUS_SWA_CASE_NUMBER_STATE,SCHD_A_SHEEPHERDER,EMPLOYER_NAME,EMPLOYER_ADDRESS_1,...,FOREIGN_WORKER_ALT_OCC_EXP,FOREIGN_WORKER_EXP_WITH_EMPL,FOREIGN_WORKER_EMPL_PAY_FOR_ED,FOREIGN_WORKER_CURR_EMPLOYED,EMPLOYER_COMPLETED_APPLICATION,PREPARER_NAME,PREPARER_TITLE,PREPARER_EMAIL,EMP_INFO_DECL_NAME,EMP_INFO_DECL_TITLE
0,A-09245-62715,Denied,2009-09-03,2020-04-30 14:50:29,N,NaT,NaN,N,SATURN ENTERPRISES INC,2340 N WASHTENAW AVE,...,NaN,N,N,N,N,Christopher E Kurczaba,Attorney,kurczabalaw@sbcglobal.net,Zygmunt Oparowski,President
1,A-10070-89932,Certified,2019-10-22,2020-09-04 10:06:40,N,NaT,NaN,N,SUNRAY ENTERPRISE INC.,3621 VININGS SLOPE SUITE#4310,...,Y,NaN,N,Y,N,James E McLaughlin III,Attorney,perm@murthy.com,Sunitha Shivaram,CEO
2,A-10119-96737,Certified-Expired,2010-03-29,2019-10-18 11:34:37,Y,2000-09-15,MARYLAND,N,FIL PARONG,13528 JAMIESON PL,...,NaN,N,N,N,N,WINSTON W TSAI,ATTORNEY AT LAW,WINSTONTSAI@AOL.COM,FIL PARONG,HEAD OF HOUSEHOLD
3,A-10225-13679,Denied,2010-08-10,2020-04-30 07:55:08,N,NaT,NaN,N,GLENNS PLUMBING SERVICES,854 CUSTER STREET,...,N,N,N,N,N,DANIEL J SULLIVAN,ATTORNEY,GWG8@AOL.COM,DAVID GLENN,OWNER
4,A-10334-34885,Certified,2010-12-02,2020-08-24 13:12:51,N,NaT,NaN,N,"ASTIR IT SOLUTIONS, INC","50 CRAGWOOD ROAD, SUITE 219",...,NaN,N,N,Y,N,Kavitha Ramasami,Attorney at Law,kavitha@usimmigrationesq.com,Kishore Ganji,President and CEO

In [7]:
df_2021_q2.head()

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,REFILE,ORIG_FILE_DATE,PREVIOUS_SWA_CASE_NUMBER_STATE,SCHD_A_SHEEPHERDER,EMPLOYER_NAME,EMPLOYER_ADDRESS_1,...,FOREIGN_WORKER_ALT_OCC_EXP,FOREIGN_WORKER_EXP_WITH_EMPL,FOREIGN_WORKER_EMPL_PAY_FOR_ED,FOREIGN_WORKER_CURR_EMPLOYED,EMPLOYER_COMPLETED_APPLICATION,PREPARER_NAME,PREPARER_TITLE,PREPARER_EMAIL,EMP_INFO_DECL_NAME,EMP_INFO_DECL_TITLE
0,A-11158-83674,Certified,2011-06-09,2020-11-30,N,NaT,NaN,N,"PERFICIENT, INC","520 MARYVILLE CENTRE DRIVE, SUITE 400",...,Y,N,N,Y,N,Kelly D Cobb,Attorney,kcobb@fosterquan.com,Angela Chitwood,HR Supervisor
1,A-11335-21177,Certified,2012-01-05,2020-11-17,N,NaT,NaN,N,"WHITRIDGE ASSOCIATES, INC.",744 EAST SQUANTUM STREET,...,Y,N,N,Y,N,Helen L Konrad,Esquire,hkonrad@lawmh.com,Michelle D Hennessey,Operations Manager
2,A-12229-91766,Certified,2012-09-11,2020-11-24,N,NaT,NaN,N,INTEL CORPORATION,2200 MISSION COLLEGE BLVD.,...,NaN,NaN,N,Y,N,Rodney A Malpert,Attorney,intelperm@fragomen.com,Debbe R Bowles,U.S. Immigration Ops. Manager
3,A-12255-97992,Certified,2012-09-11,2020-11-17,N,NaT,NaN,N,LEAD IT CORPORATION,"1999 WABASH AVE., SUITE 210",...,NaN,NaN,N,Y,N,ALAN E HECKLER,ATTORNEY,maria@aheckler.com,RAM TALLURI,DIRECTOR
4,A-13065-45641,Certified,2013-03-09,2021-02-02,N,NaT,NaN,N,CLARKSDALE MUNICIPAL SCHOOL DISTRICT,P O BOX 1088,...,NaN,N,N,Y,N,Raymond P Rampersad,AttorneyatLaw,ray@rplawgroup.com,Venesia G Brown,Personnel Coordinator

In [8]:
# As the data frame retained the same format and column namings heading from 2020 into 2021, 
# we can concatenate the two data sets

df = pd.concat([df_2020, df_2021_q2])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129996 entries, 0 to 35976
Columns: 155 entries, CASE_NUMBER to EMPLOYER_YEAR_COMMENCED_BUS
dtypes: datetime64[ns](19), float64(12), object(124)
memory usage: 154.7+ MB

In [10]:
# Inspect the breakdown of case status/results 

df.groupby("CASE_STATUS").count()

,CASE_NUMBER,RECEIVED_DATE,DECISION_DATE,REFILE,ORIG_FILE_DATE,PREVIOUS_SWA_CASE_NUMBER_STATE,SCHD_A_SHEEPHERDER,EMPLOYER_NAME,EMPLOYER_ADDRESS_1,EMPLOYER_ADDRESS_2,...,FOREIGN_WORKER_EXP_WITH_EMPL,FOREIGN_WORKER_EMPL_PAY_FOR_ED,FOREIGN_WORKER_CURR_EMPLOYED,EMPLOYER_COMPLETED_APPLICATION,PREPARER_NAME,PREPARER_TITLE,PREPARER_EMAIL,EMP_INFO_DECL_NAME,EMP_INFO_DECL_TITLE,EMPLOYER_YEAR_COMMENCED_BUS
CASE_STATUS,,,,,,,,,,,,,,,,,,,,,
Certified,85218,85218,85218,85218,56,56,85218,85218,85212,30952,...,70679,85218,85216,85213,85218,80390,80369,85218,85217,31503
Certified-Expired,32953,32953,32953,32953,23,23,32952,32953,32953,10633,...,27867,32953,32951,32953,32953,30576,30565,32953,32952,611
Denied,6517,6517,6517,6516,47,50,6512,6517,6514,2172,...,4300,6507,6505,6511,6517,5151,5151,6517,6507,2300
Withdrawn,5308,5307,5308,5308,14,15,5308,5307,5307,1754,...,3844,5308,5308,5308,5308,4611,4607,5308,5307,1558

In [11]:
# We can trim the data frame by only considering entries that were either certified(approved) or denied

df_trim_1 = df.loc[df["CASE_STATUS"].isin(["Certified", "Denied"])]
df_trim_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91735 entries, 0 to 34418
Columns: 155 entries, CASE_NUMBER to EMPLOYER_YEAR_COMMENCED_BUS
dtypes: datetime64[ns](19), float64(12), object(124)
memory usage: 109.2+ MB

In [14]:
# "CASE_STATUS" column is our target variable. Certified will be redesignated as "1" and Denied will be redesignated as "0"

df_trim_1.loc[df_trim_1["CASE_STATUS"] == "Certified", "CASE_STATUS"] = 1
df_trim_1.loc[df_trim_1["CASE_STATUS"] == "Denied", "CASE_STATUS"] = 0
df_trim_1.groupby("CASE_STATUS").count()

/Users/oppur/Desktop/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,CASE_NUMBER,RECEIVED_DATE,DECISION_DATE,REFILE,ORIG_FILE_DATE,PREVIOUS_SWA_CASE_NUMBER_STATE,SCHD_A_SHEEPHERDER,EMPLOYER_NAME,EMPLOYER_ADDRESS_1,EMPLOYER_ADDRESS_2,...,FOREIGN_WORKER_EXP_WITH_EMPL,FOREIGN_WORKER_EMPL_PAY_FOR_ED,FOREIGN_WORKER_CURR_EMPLOYED,EMPLOYER_COMPLETED_APPLICATION,PREPARER_NAME,PREPARER_TITLE,PREPARER_EMAIL,EMP_INFO_DECL_NAME,EMP_INFO_DECL_TITLE,EMPLOYER_YEAR_COMMENCED_BUS
CASE_STATUS,,,,,,,,,,,,,,,,,,,,,
0,6517,6517,6517,6516,47,50,6512,6517,6514,2172,...,4300,6507,6505,6511,6517,5151,5151,6517,6507,2300
1,85218,85218,85218,85218,56,56,85218,85218,85212,30952,...,70679,85218,85216,85213,85218,80390,80369,85218,85217,31503

In [15]:
# List all columns so we select a small subset of the features/columns to perform baseline analysis and modeling

list(df_trim_1.columns.values)

['CASE_NUMBER',
 'CASE_STATUS',
 'RECEIVED_DATE',
 'DECISION_DATE',
 'REFILE',
 'ORIG_FILE_DATE',
 'PREVIOUS_SWA_CASE_NUMBER_STATE',
 'SCHD_A_SHEEPHERDER',
 'EMPLOYER_NAME',
 'EMPLOYER_ADDRESS_1',
 'EMPLOYER_ADDRESS_2',
 'EMPLOYER_CITY',
 'EMPLOYER_STATE_PROVINCE',
 'EMPLOYER_COUNTRY',
 'EMPLOYER_POSTAL_CODE',
 'EMPLOYER_PHONE',
 'EMPLOYER_PHONE_EXT',
 'EMPLOYER_NUM_EMPLOYEES',
 'EMPLOYER_YEAR_COMMENCED_BUSINESS',
 'NAICS_CODE',
 'FW_OWNERSHIP_INTEREST',
 'EMP_CONTACT_NAME',
 'EMP_CONTACT_ADDRESS_1',
 'EMP_CONTACT_ADDRESS_2',
 'EMP_CONTACT_CITY',
 'EMP_CONTACT_STATE_PROVINCE',
 'EMP_CONTACT_COUNTRY',
 'EMP_CONTACT_POSTAL_CODE',
 'EMP_CONTACT_PHONE',
 'EMP_CONTACT_EMAIL',
 'AGENT_ATTORNEY_NAME',
 'AGENT_ATTORNEY_FIRM_NAME',
 'AGENT_ATTORNEY_PHONE',
 'AGENT_ATTORNEY_PHONE_EXT',
 'AGENT_ATTORNEY_ADDRESS_1',
 'AGENT_ATTORNEY_ADDRESS_2',
 'AGENT_ATTORNEY_CITY',
 'AGENT_ATTORNEY_STATE_PROVINCE',
 'AGENT_ATTORNEY_COUNTRY',
 'AGENT_ATTORNEY_POSTAL_CODE',
 'AGENT_ATTORNEY_EMAIL',
 'PW_TRACK_NUMBER',
 'PW_SOC_CODE',
 'PW_SOC_TITLE',
 'PW_SKILL_LEVEL',
 'PW_WAGE',
 'PW_UNIT_OF_PAY',
 'PW_WAGE_SOURCE',
 'PW_SOURCE_NAME_OTHER',
 'PW_DETERMINATION_DATE',
 'PW_EXPIRATION_DATE',
 'WAGE_OFFER_FROM',
 'WAGE_OFFER_TO',
 'WAGE_OFFER_UNIT_OF_PAY',
 'WORKSITE_ADDRESS_1',
 'WORKSITE_ADDRESS_2',
 'WORKSITE_CITY',
 'WORKSITE_STATE',
 'WORKSITE_POSTAL_CODE',
 'JOB_TITLE',
 'MINIMUM_EDUCATION',
 'JOB_EDUCATION_MIN_OTHER',
 'MAJOR_FIELD_OF_STUDY',
 'REQUIRED_TRAINING',
 'REQUIRED_TRAINING_MONTHS',
 'REQUIRED_FIELD_OF_TRAINING',
 'REQUIRED_EXPERIENCE',
 'REQUIRED_EXPERIENCE_MONTHS',
 'ACCEPT_ALT_FIELD_OF_STUDY',
 'ACCEPT_ALT_MAJOR_FLD_OF_STUDY',
 'ACCEPT_ALT_COMBO',
 'ACCEPT_ALT_COMBO_EDUCATION',
 'ACCEPT_ALT_COMBO_ED_OTHER',
 'ACCEPT_ALT_COMBO_EDUCATION_YRS',
 'ACCEPT_FOREIGN_EDUCATION',
 'ACCEPT_ALT_OCCUPATION',
 'ACCEPT_ALT_OCCUPATION_MONTHS',
 'ACCEPT_ALT_JOB_TITLE',
 'JOB_OPP_REQUIREMENTS_NORMAL',
 'FOREIGN_LANGUAGE_REQUIRED',
 'SPECIFIC_SKILLS',
 'COMBINATION_OCCUPATION',
 'OFFERED_TO_APPL_FOREIGN_WORKER',
 'FOREIGN_WORKER_LIVE_ON_PREM',
 'FOREIGN_WORKER_LIVE_IN_DOM_SER',
 'FOREIGN_WORKER_LIVE_IN_DOM_CNT',
 'PROFESSIONAL_OCCUPATION',
 'APP_FOR_COLLEGE_U_TEACHER',
 'COMPETITIVE_PROCESS',
 'BASIC_RECRUITMENT_PROCESS',
 'TEACHER_SELECT_DATE',
 'TEACHER_PUB_JOURNAL_NAME',
 'ADD_RECRUIT_INFORMATION',
 'SWA_JOB_ORDER_START_DATE',
 'SWA_JOB_ORDER_END_DATE',
 'SUNDAY_EDITION_NEWSPAPER',
 'FIRST_NEWSPAPER_NAME',
 'FIRST_ADVERTISEMENT_START_DATE',
 'SECOND_NEWSPAPER_AD_NAME',
 'SECOND_ADVERTISEMENT_TYPE',
 'SECOND_AD_START_DATE',
 'JOB_FAIR_FROM_DATE',
 'JOB_FAIR_TO_DATE',
 'ON_CAMPUS_RECRUITING_FROM_DATE',
 'ON_CAMPUS_RECRUITING_TO_DATE',
 'EMPLOYER_WEBSITE_FROM_DATE',
 'EMPLOYER_WEBSITE_TO_DATE',
 'PRO_ORG_AD_FROM_DATE',
 'PRO_ORG_ADVERTISEMENT_TO_DATE',
 'JOB_SEARCH_WEBSITE_FROM_DATE',
 'JOB_SEARCH_WEBSITE_TO_DATE',
 'PVT_EMPLOYMENT_FIRM_FROM_DATE',
 'PVT_EMPLOYMENT_FIRM_TO_DATE',
 'EMPLOYEE_REF_PROG_FROM_DATE',
 'EMPLOYEE_REFERRAL_PROG_TO_DATE',
 'CAMPUS_PLACEMENT_FROM_DATE',
 'CAMPUS_PLACEMENT_TO_DATE',
 'LOCAL_ETHNIC_PAPER_FROM_DATE',
 'LOCAL_ETHNIC_PAPER_TO_DATE',
 'RADIO_TV_AD_FROM_DATE',
 'RADIO_TV_AD_TO_DATE',
 'EMP_RECEIVED_PAYMENT',
 'PAYMENT_DETAILS',
 'BARGAINING_REP_NOTIFIED',
 'POSTED_NOTICE_AT_WORKSITE',
 'LAYOFF_IN_PAST_SIX_MONTHS',
 'US_WORKERS_CONSIDERED',
 'COUNTRY_OF_CITIZENSHIP',
 'FOREIGN_WORKER_BIRTH_COUNTRY',
 'CLASS_OF_ADMISSION',
 'FOREIGN_WORKER_EDUCATION',
 'FOREIGN_WORKER_EDUCATION_OTHER',
 'FOREIGN_WORKER_INFO_MAJOR',
 'FOREIGN_WORKER_YRS_ED_COMP',
 'FOREIGN_WORKER_INST_OF_ED',
 'FOREIGN_WORKER_ED_INST_ADD_1',
 'FOREIGN_WORKER_ED_INST_ADD_2',
 'FOREIGN_WORKER_ED_INST_CITY',
 'FOREIGN_WORKER_ED_INST_STATE_P',
 'FOREIGN_WORKER_ED_INST_COUNTRY',
 'FOREIGN_WORKER_ED_INST_POST_CD',
 'FOREIGN_WORKER_TRAINING_COMP',
 'FOREIGN_WORKER_REQ_EXPERIENCE',
 'FOREIGN_WORKER_ALT_ED_EXP',
 'FOREIGN_WORKER_ALT_OCC_EXP',
 'FOREIGN_WORKER_EXP_WITH_EMPL',
 'FOREIGN_WORKER_EMPL_PAY_FOR_ED',
 'FOREIGN_WORKER_CURR_EMPLOYED',
 'EMPLOYER_COMPLETED_APPLICATION',
 'PREPARER_NAME',
 'PREPARER_TITLE',
 'PREPARER_EMAIL',
 'EMP_INFO_DECL_NAME',
 'EMP_INFO_DECL_TITLE',
 'EMPLOYER_YEAR_COMMENCED_BUS']

In [16]:
# Only select columns that may prove useful

df_trim_2 = df_trim_1[['CASE_STATUS', 'RECEIVED_DATE', 'DECISION_DATE', 'EMPLOYER_NAME', 
                       'EMPLOYER_COUNTRY', 'EMPLOYER_NUM_EMPLOYEES','EMPLOYER_YEAR_COMMENCED_BUSINESS', 
                       'PW_SOC_TITLE', 'PW_SKILL_LEVEL', 'PW_WAGE', 'PW_UNIT_OF_PAY', 'WAGE_OFFER_FROM', 
                       'WAGE_OFFER_TO', 'WAGE_OFFER_UNIT_OF_PAY', 'JOB_TITLE', 'MINIMUM_EDUCATION', 'MAJOR_FIELD_OF_STUDY',
                       'SPECIFIC_SKILLS', 'MAJOR_FIELD_OF_STUDY', 'REQUIRED_EXPERIENCE', 'PROFESSIONAL_OCCUPATION', 
                       'COUNTRY_OF_CITIZENSHIP', 'FOREIGN_WORKER_BIRTH_COUNTRY', 'CLASS_OF_ADMISSION', 'FOREIGN_WORKER_EDUCATION',
                       'FOREIGN_WORKER_INFO_MAJOR', 'FOREIGN_WORKER_INST_OF_ED', 'FOREIGN_WORKER_ED_INST_COUNTRY', 'EMP_INFO_DECL_TITLE']]

In [17]:
# Save current data frame to CSV and continue cleaning in next notebook

df_trim_2.to_csv("applications.csv")